<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<!--            xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">-->
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<header class="header">

    <div class="container header-container">
        <a href="" class="header-logo link">Cafe<span class="logo-accent">Pizza</span></a>
        <nav class="header-nav">
            <ul class="header-list list">
                <li class="header-item"><a href="/" class="header-link link current">Home</a></li>
                <li class="header-item"><a th:href="@{/cafes}" class="header-link link">Cafe</a></li>
                <li class="header-item"><a th:href="@{/pizzas}" class="header-link link">Pizza</a></li>
            </ul>
        </nav>
    </div>

    <div class="login">
        <div class="header-item"><a th:href="@{/login}" class="login">🔑</a></div>
    </div>
</header>

<main>
    <section class="hero">
        <div class="login_title" th:inline="text">Hello,
            <span th:remove="tag" sec:authentication="name"></span>!</div>
        <div  style="font-size: 24px; text-align: center; color: coral; margin-top: 20px" th:inline="text">user and admin password = 1</div>

            <form style="text-align: center" th:action="@{login}" method="post">
            <h3 style="font-size: 36px; color: yellow; margin-top: 30px; margin-bottom: 15px" >Login</h3>
                <div class="login_body">
                    <div class="login_input">
                        <label> User Name : <input type="text" name="username" class="input_pizza"/> </label>
                        <label> Password: <input type="password" name="password" class="input_pizza"/> </label>
                    </div>
                </div>
                <div style="display: flex; align-items: center; gap: 40px; justify-content: center">
                    <div><input class="login_btn" type="submit" value="Login"/></div>
                    <!--<div>
                        <input formaction="Login" formmethod="post" class="login_btn" type="submit" value="Login"/>-->
                    <!--</div>-->
                    <div>
                        <input th:formaction="@{/logout}" formmethod="post" class="login_btn" type="submit" value="Logout"/>
<!--                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                    </div>
                </div>
            </form>

<!--            <form style="display: flex; gap: 40px; justify-content: center" th:action="@{/logout}" method="post">-->
<!--                <input type="submit" value="Logout" class="login_btn"/>-->
<!--                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
<!--            </form>-->

        <div class="login_error" th:if="${param.error}">
            Invalid username or password
        </div>

        <div class="login_error" th:if="${param.logout}">
            You have been logged out
        </div>
    </section>
</main>

<footer class="footer">
    <div class="footer-container">
        <a href="" class="footer-logo link">Cafe<span class="footer-logo-accent">Pizza</span></a>
    </div>
</footer>
</body>
</html>