<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">-->
<head>
  <meta charset="UTF-8">
  <title>Pizza</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="wrapper">
<header class="header">
    <div class="container header-container">
        <a href="" class="header-logo link">Cafe<span class="logo-accent">Pizza</span></a>
        <nav class="header-nav">
            <ul class="header-list list">
                <li class="header-item"><a href="/" class="header-link link current">Home</a></li>
                <li class="header-item"><a th:href="@{/cafes}" class="header-link link">Cafe</a></li>
                <li class="header-item"><a th:href="@{/pizzas}" class="header-link link">Pizza</a></li>
            </ul>
        </nav>
    </div>

    <div class="login">
        <div class="header-item"><a th:href="@{/login}" class="login">🔑</a></div>
    </div>
</header>

<main>
<section class="pizza_hero">
    <div class="pizza_title" th:text="${'New Pizza'}"></div>
    <br/>
<container class="pizza_edit_hero">
  <div>
    <img width="308px" height="308px" th:src="@{/img/marherita.jpeg}"/>
  </div>

  <div class="pizza_edit_body">
    <form th:method="POST" th:action="@{/pizzas/create}" th:object="${pizza}" class="form" style="margin-top: -42pt">
      <input type="hidden" th:field="*{id}" id="id"/><br/>
      <input type="hidden" th:field="*{image}" id="image"/><br/>
      <label for="name">Name</label>
      <input class="input_pizza" th:field="*{name}" id="name"/><br/>
      <div class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      <label for="size">Size</label>
      <input class="input_pizza" th:field="*{size}" id="size"/><br/>
      <div class="error" th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></div>
      <label for="key_ingredients">Ingredients</label>
      <input class="input_pizza" th:field="*{keyIngredients}" id="key_ingredients"/><br/>
      <div class="error" th:if="${#fields.hasErrors('keyIngredients')}" th:errors="*{keyIngredients}"></div>
      <label for="price">Price</label>
      <input class="input_pizza" th:field="*{price}" id="price"/><br/>
      <div class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
      <div>
        <label for="cafe">Cafe</label>
        <select th:field="*{cafe}" class="input_pizza" style="width: 230px">
          <option th:each="cafe : ${cafes}"
                  th:value="${cafe.getId()}"
                  th:text="${cafe.getName()}"
                  id="cafe">
          </option>
        </select>
      </div>

    <div class="pizza_btn">
      <button class="pizza_btn_style pizza_btn_left">Submit</button>
    </div>
    </form>
        <div style="margin-top: -61px">
              <form th:action="@{/pizzas}" th:method="GET">
                <button href="/pizzas" class="pizza_btn_style">Back</button>
              </form>
        </div>
  </div>
</container>
</section>
</main>
<footer class="footer">
    <div class="footer-container">
        <a href="" class="footer-logo link">Cafe<span class="footer-logo-accent">Pizza</span></a>
    </div>
</footer>
</div>
</body>
</html>